html { overflow: hidden; }
body { font-family: 'Open Sans', sans-serif; line-height: .8; font-size: 37px; }

.background {
	position: fixed;
	height: 100%;
	width: 100%;
	background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #efefef);
	background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#efefef));
	z-index: 0;
    opacity: 1;
}

#hint {
    z-index: 9999;
    position: fixed; top: 0; left: 20px;
    font-size: 16px;
    background: #ddd;
    color: #666;
    padding: 6px 12px 12px;
    font-style: italic;
    opacity: 0;
    border-radius: 0 0 10px 10px;

    -webkit-transition: opacity 2s;
    -moz-transition:    opacity 2s;
    -ms-transition:     opacity 2s;
    -o-transition:      opacity 2s;
    transition:         opacity 2s;

    -webkit-transition-delay: 6s;
    -moz-transition-delay: 6s;
    -ms-transition-delay: 6s;
    -o-transition-delay: 6s;
    transition-delay: 6s;
}

#hint a { text-decoration: underline; font-style: italic; }

#hint:hover {
    opacity: 1;
    -webkit-transition: opacity .25s;
    -moz-transition:    opacity .25s;
    -ms-transition:     opacity .25s;
    -o-transition:      opacity .25s;
    transition:         opacity .25s;
}

a, a:hover, a:visited {
    text-decoration: none;
    font-style: normal;
    color: #666;
    cursor: pointer;
}
a:hover { color: #333;}

.title { font-size: 170px; }
.big { text-transform: uppercase; margin: 0; padding: 0; }
.bold { font-weight: 800; }
.light { font-weight: 400; }
.extralight { font-weight: 300; letter-spacing: .1em; }
.small { display: block; padding: 20px; font-size: 20px; font-weight: 600; }

blockquote {
    text-align: justify;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4;
}

blockquote .author {
    display: block;
    text-align: right;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 36px;
}

.img-wrap {	margin: 0 auto; }
.img-inline { display: inline-block; padding: 12px 3px; }
.img-link {	text-decoration: none; }
.img-border { border: solid 1px #aaa; }


/* COMMON STEP STYLES */

.step {
    text-align: center;
    width: 720px;
    padding: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;

    text-shadow: rgba(0,0,0,.01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */
}

.step:not(.active) { opacity: 0.1; }


/* STEP SPECIFIC STYLES */
#title {width: 720px; height: 600px; text-align: left; }
#title-text1 { font-size: 82px; }
#title-text2 { font-size: 99px; }
#title-text3 { font-size: 82px; }

#respond-text1 { font-size: 50px; }
#respond-text2 { font-size: 75px; }
#respond-text3 { font-size: 66px; }

#ar-adaptive { font-size: 70px; }
#ar-adaptive-fixed { font-size: 65px; }
#ar-responsive { font-size: 60px; }
#ar-responsive-fluid { font-size: 50px; }

#combo-text { font-size: 150px; }
#combo-or { font-size: 30px;, position: relative; left: -20px; }
#combo-fluid-fixed div { float: left; text-align: center; }
#combo-plus { width: 10%; font-size: 100px; }
#combo-fixed, #combo-fluid { width: 45%; }
#combo-fluid-fixed div .bold { font-size: 38px; width: 100%; margin: 10px auto; }
#combo-fluid-fixed div .light { font-size: 24px; width: 100%; margin: 5px auto; line-height: 1; }
#combo-fluid .light { letter-spacing: 3px; }

#why-quote p { margin: 10px auto; line-height: 1; }
#why-quote p.extralight { font-size: 17px; line-height: 1; }
#why-sml { letter-spacing: 19px; font-size: 36px; position: relative; left: 10px; }
#why-one-site { font-size: 50px; margin-top: 10px; }
.step .test_pyramid_link { font-size: 58px; margin: 20px auto; display: block;}
.step .test_pyramid_text { font-size: 27px; margin: 10px auto; line-height: 1;}

#who-real-not { font-size: 45px; padding-bottom: 10px; position: relative; left: 3px; }
#who-real-real { font-size: 73px; padding-bottom: 20px; text-decoration: underline; }
#who-real .big.reg { font-size: 30px; line-height: 1.5; }
#who-real .reg { font-size: 25px; line-height: 1.2; }

#who-more { font-size: 60px; }
#who-more a { font-size: 30px; }

#when .big.bold { font-size: 90px; }
#when-things div { font-size: 58px; }
#when-thing1, #when-thing2, #when-thing1, #when-thing1 { position: relative; padding: 0; }
#when-thing1 { font-size: 34px; }
#when-thing2 { font-size: 43px; letter-spacing: 0; }
#when-thing3 { font-size: 41px; margin: 20px auto; }
#when-thing4 { font-size: 50px; margin-top: 10px; }
#when-thing5 div { margin: 20px auto; }

#how .title { font-size: 95px; }
#how-frameworks-text { font-size: 57px; line-height: .9; }
#how-frameworks span { font-weight: 800; font-size: 25px; display: block; }
#how-savetime { position: relative; letter-spacing: 10px; font-size: 43px; }
#how-rollyourown { font-size: 80px; }

.adj-j { font-size: 88%; position: relative; top: -10px; }

#credits { width: 720px; padding: 0; }
#credits .big { font-size: 70px; }
#credits p { font-style: italic; font-size: 25px; margin: 24px; padding: 0; color: #666; }
#credits p.first { margin-bottom: 25px; font-size: 30px; }
#credits a { font-style: italic; font-weight: bold; text-decoration: underline; font-size: 22px; }

